*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #aaa;
}

h1 {
  background: black;
  color: red;
  text-align: center;
  padding: 10px;
}

.input-conteiner {

  display: flex;
  justify-content: center;
  margin: 10px;
}

input {
  height: 25px;
  margin: 10px;
}

.card {
  position: relative;
  margin: 30px;
  padding: 10px;
  height: 150px;
  width: 200px;
  background: #ddd;
}

li {
  list-style: none;
  margin: 10px;
}

.x {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
